<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org/">
    <title>Candidate Registration</title>
    <link th:href="@{styles.css}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

<form method="post" action="create">
    <h1>Enter Candidate Information</h1>
    <div>
        <label for="bDay"><em>Birthday (month and year):</em></label>
            <input type="month" id="bDay" name="dateOfBirth">
    </div>
    <div>
        <label for="userName"><em>Username:</em></label>
            <input type="text" id="userName" name="userName">
    </div>
    <div>
        <label for="firstName"><em>First name:</em></label>
            <input type="text" id="firstName" name="firstName">
    </div>
    <div>
        <label for="lastName"><em>Last name:</em></label>
            <input type="text" id="lastName" name="lastName">
    </div>
    <div>
        <input type = 'submit' value = 'Enter' />
    </div>
</form>

</body>
</html>