<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<div class="jumbotron">
<h4 th:fragment="welcomeMessage">Welcome to Project Liftoff</h4>

<form method="post" action="create">
    <h5>Enter candidate information</h5>

    <div>
        <label for="bDay"><em>Date of birth:</em></label>
            <input type="date" id="bDay" name="dateOfBirth">
    </div>
    <div>
        <label for="userName"><em>Username:</em></label>
            <input type="text" id="userName" name="userName">
    </div>
    <div>
        <label for="firstName"><em>First name:</em></label>
            <input type="text" id="firstName" name="firstName">
    </div>
    <div>
        <label for="lastName"><em>Last name:</em></label>
            <input type="text" id="lastName" name="lastName">
    </div>
    <div>
        <input type="submit" class="btn btn-success" value="submit" />
        <nav th:replace="fragments :: navigation"></nav>
    </div>
</form>
</div>
</body>
</html>