<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h4 th:fragment="welcomeMessage">Welcome to Project Liftoff</h4>


<form method="post" action="create">
    <h1>Enter Candidate Information</h1>
    <div>
        <label for="bDay"><em>Date of birth:</em></label>
            <input type="date" id="bDay" name="dateOfBirth">
    </div>
    <div>
        <label for="userName"><em>Username:</em></label>
            <input type="text" id="userName" name="userName">
    </div>
    <div>
        <label for="firstName"><em>First name:</em></label>
            <input type="text" id="firstName" name="firstName">
    </div>
    <div>
        <label for="lastName"><em>Last name:</em></label>
            <input type="text" id="lastName" name="lastName">
    </div>
    <div>
        <input type = 'submit' value = 'Enter' />
    </div>
</form>

</body>
</html>