<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" >
    <title>Create Account</title>
   <link th:href="@{styles.css}" rel="stylesheet" />
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body class="container">
<div class="jumbotron">
<h4 th:fragment="welcomeMessage">Welcome to Project Liftoff</h4>
<h1><em>Voter registration form</em></h1>
    <form method="post">
    <div>
        <label for="bDay"><em>Date of birth:</em></label>
            <input type="date" id="bDay" name="dateOfBirth">
    </div>
    <div>
        <label for="userName"><em>Username:</em></label>
            <input type="text" id="userName" name="userName">
    </div>
    <div>
        <label for="firstName"><em>First name:</em></label>
            <input type="text" id="firstName" name="firstName">
    </div>
    <div>
        <label for="lastName"><em>Last name:</em></label>
            <input type="text" id="lastName" name="lastName">
    </div>
    <div>
        <label for="address"><em>Address:</em></label>
            <input type="text" id="address" name="address">
    </div>
    <div>
        <label for="city"><em>City:</em></label>
            <input type="text" id="city" name="city">
    </div>
    <div>
        <label for="state"><em>State:</em></label>
            <input type="text" id="state" name="state">
    </div>
    <div>
        <label for="zipCode"><em>Zip Code:</em></label>
            <input type="number" id="zipCode" name="ZipCode">
    </div>
    <div>
        <label for="emailAddress"><em>Email:</em></label>
            <input type="email" id="emailAddress" name="emailAddress"><br><br>
            <input type="submit" class="btn btn-success" value="Submit">
        <nav th:replace="fragments :: navigation"></nav>
    </div>
    </form>
</div>
</body>
</html>
