<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset-ISO-8859-1">
    <title>Customer Manager</title>
</head>
<body>
<div align="center">
    <h1>Customer Manager</h1>

    <a href="new">Create New Customer</a>
    <br><br>
    <table border="1" padding="10">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>E-mail</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
        <tr th:each="customer : ${listCustomer}">
            <td th:text="${customer.id}">Customer ID</td>
            <td th:text="${customer.name}">Name</td>
            <td th:text="${customer.email}">Email</td>
            <td th:text="${customer.address}">Address</td>
            <td>
                <a th:href="@{'/edit/' + ${customer.id}}">Edit</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="@{'/delete/' + ${customer.id}}">Delete</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>