<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

    <form method="post" action="/create">
        <div class="jumbotron">
            <h4 th:replace="fragments :: welcomeMessage"></h4>
            <label>Username: </label>
                <input type="text" id="userName" name="userName"><br><br>
            <label>Password: </label>
                <input type="password" id="password" name="password"><br><br>
                <input type="submit" class="btn btn-success" value="Submit">
            <nav th:replace="fragments :: navigation"></nav>
        </div>
    </form>
</body>
</html>