<!DOCTYPE html>
<html lang="en" >
<head>
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">

</head>
<body>

<div class="main">
    <div class="navbar">
        <h2 class="logo">Home Page</h2>
    </div>
    <div class="menu">
        <ul>
            <li><a href="new">NEW CUSTOMER</a></li>
            <li><a href="#">NEW EMPLOYEE</a></li>
            <li><a href="#">NEW INVENTORY</a></li>
        </ul>
    </div>
    <div class="search-box">
        <input class="search-txt" type="text" name="" placeholder="Type to search">
        <a class="search-btn" href="#"> <i class="fas fa-search"></i></a>
    </div>

    <div class="title">
        <h1>Management Team</h1>
    </div>
    <div class="button">
    <a href="#" class="btn">Edit Inventory</a>
    <a href="#" class="btn">Edit Employee</a>
    </div>
</div>

</body>
</html>