<!DOCTYPE html>
<html lang="en" >
<head>
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
</head>
<body>
<img src="a.jpg" alt="picture">
<div class="main">
    <div class="navbar">
        <h2 class="logo">Home Page</h2>
    </div>
    <div class="menu">
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">NEW CUSTOMER</a></li>
            <li><a href="#">EDIT EMPLOYEE</a></li>
            <li><a href="#">INVENTORY</a></li>
        </ul>
    </div>
    <div class="search-box">
        <input class="search-txt" type="text" name="" placeholder="Type to search">
        <a class="search-btn" href="#"> <i class="fas fa-search"></i></a>
    </div>
</div>

</body>
</html>